<style>

    label {
        text-align: center;
        width: 100%;
        display: block;
    }

    #activity-header {
        width: 50%;
    }
    #hours-header {
        width: 20%;
        text-align: center;
    }
    #value-header {
        width: 20%;
        text-align: center;
    }
    #delete-header {
        width: 10%;
        text-align: right;
    }
    .delete-btn {
        cursor: pointer;
    }

</style>


<div id='exercise-container'>


   <div id="action-plan-container">
       <div class="card action-plan-card">
            <form>
                <h2>Action Plan 1</h2>
                <div>
                    <label id=''>Long Term Goal</label>
                    <textarea rows='1'></textarea>
                </div>
                <div>
                    <label id=''>1 Year Goal</label>
                    <textarea rows='1'></textarea>
                </div>
                <div>
                    <label id=''>1 Month Goal</label>
                    <textarea rows='1'></textarea>
                </div>
                <div>
                    <label id=''>1 Week Goal</label>
                    <textarea rows='1'></textarea>
                </div>
                <div>
                    <label id=''>Daily Habit or Action</label>
                    <textarea rows='1'></textarea>
                </div>
            </form>
        </div>
   </div>

    <div class="card">
        <button id='add-btn'>Add Another Action Plan</button>
        <button class='save-btn' id='exercise-save-btn'>Save All</button>
    </div>

</div>


<script defer>

    var btn;
    var saveBtn;
    var deleteBtn;
    var input;
    var actionPlanContainer;
    var activityItems = [];


    function slugify(string) {
        const a = 'àáâäæãåāăąçćčđďèéêëēėęěğǵḧîïíīįìłḿñńǹňôöòóœøōõőṕŕřßśšşșťțûüùúūǘůűųẃẍÿýžźż·/_,:;'
        const b = 'aaaaaaaaaacccddeeeeeeeegghiiiiiilmnnnnoooooooooprrsssssttuuuuuuuuuwxyyzzz------'
        const p = new RegExp(a.split('').join('|'), 'g')

        return string.toString().toLowerCase()
            .replace(/\s+/g, '-') // Replace spaces with -
            .replace(p, c => b.charAt(a.indexOf(c))) // Replace special characters
            .replace(/&/g, '-and-') // Replace & with 'and'
            .replace(/[^\w\-]+/g, '') // Remove all non-word characters
            .replace(/\-\-+/g, '-') // Replace multiple - with single -
            .replace(/^-+/, '') // Trim - from start of text
            .replace(/-+$/, '') // Trim - from end of text
    }

    function addItem(count){
        actionPlanContainer.append(`
            <div class="card action-plan-card">
                <form>
                    <span class='delete-btn'><ion-icon name="trash-outline"></ion-icon></span>
                    <h2>Action Plan ${count}</h2>
                    <div>
                        <label id=''>Long Term Goal</label>
                        <textarea rows='1'></textarea>
                    </div>
                    <div>
                        <label id=''>1 Year Goal</label>
                        <textarea rows='1'></textarea>
                    </div>
                    <div>
                        <label id=''>1 Month Goal</label>
                        <textarea rows='1'></textarea>
                    </div>
                    <div>
                        <label id=''>1 Week Goal</label>
                        <textarea rows='1'></textarea>
                    </div>
                    <div>
                        <label id=''>Daily Habit or Action</label>
                        <textarea rows='1'></textarea>
                    </div>
                </form>
            </div>
        `);
    }

    function fmtMSS(s){return(s-(s%=60))/60+(9<s?':':':0')+s}

    function startTimer(){
        timerRunning = true;
        timerBtn.text("Pause Timer");
        var sec = currentTime;
        timerInterval = setInterval(function(){
            timer.text(fmtMSS(sec));
            sec--;
            if (sec === 0) {
                clearInterval(timerInterval);
                alert("Time's up!");
            }
            currentTime = sec;
        }, 1000);
    }

    function pauseTimer(){
        clearInterval(timerInterval);
        timerRunning = false;
    }

    function saveList(){
        var items = [];
        list.find('.item-value').each(function(e){
            items.push($(this).text());
        });
        console.log(items);
    }

    function postData(){

    }

    document.addEventListener("DOMContentLoaded", function() {

        btn = $('#add-btn');
        saveBtn = $('#exercise-save-btn');
        input = $('#item-input');
        actionPlanContainer = $('#action-plan-container');

        btn.click(function(e){
            e.preventDefault();
            var planCount = $("#action-plan-container > .action-plan-card").length + 1
            addItem(planCount);
        });

        $('body').on('click','.delete-btn', function(e){
            e.preventDefault();
            $(this).closest('.action-plan-card').remove();
        });

        timerBtn.click(function(e){
            e.preventDefault();
            if(!timerRunning) startTimer();
            else pauseTimer();
        });

        saveBtn.click(function(e){

        });

    });

</script>