<style>

    label {
        text-align: center;
        width: 100%;
        display: block;
    }

    #activity-header {
        width: 50%;
    }
    #hours-header {
        width: 20%;
        text-align: center;
    }
    #value-header {
        width: 20%;
        text-align: center;
    }
    #delete-header {
        width: 10%;
        text-align: right;
    }
    .delete-btn {
        cursor: pointer;
    }

</style>


<div id='exercise-container'>


   <div id="checking-in-container">
       <div class="card ">
            <form>
                <div class="text-center">
                    <p>What are you really rocking right now?</p> 
                    <p>What is worth celebrating and acknowledging?</p>
                    <p>What is working?</p>
                    <textarea rows='10'></textarea>
                </div>
            </form>
        </div>
       <div class="card ">
            <form>
                <div class="text-center">
                    <p>Now why is that important?</p>
                    <p>What does it say about you?</p>
                    <textarea rows='10'></textarea>
                </div>
            </form>
        </div>

        <p>Great, doesn't it feel good to acknowledge yourself?</p>

        <p>Our minds, for better or for worse, naturally drift towards a state of vague, or outright explicit disatisfaction.</p>

        <p>It's 'efficient' to complete one project and move onto the next without taking time to let in the appreciation for the process itself, but we must ask ourselves, does it lead to a happy life?</p>

        <p>Neurotically jumping from one thing to the next is exactly that... neurotic. And as I said above, it is modeling a tendency towards self deprecation.</p>

        <p>Now zoom back out...</p>

        <p>And consider the next question.</p>

        <div class="card ">
            <form>
                <div class="text-center">
                    <p>What is really challenging right now?</p> 
                    <p>What isn't working?</p>
                    <p>If I consider that "I can have it all..." What is keeping me from that?</p>
                    <textarea rows='10'></textarea>
                </div>
            </form>
        </div>
       <div class="card ">
            <form>
                <div class="text-center">
                    <p>Now why is that important?</p>
                    <p>What does it say about you?</p>
                    <textarea rows='10'></textarea>
                </div>
            </form>
        </div>

        <p>It's probably not too hard to see that your perceived problems are one of two things...</p>

        <p>Either a product of your own lack of authenticity, ingenuity, and action, OR a tenuous trope inherent to existence that we all go through.</p>

        <p>Those two possibilities may not even be mutually exclusive.</p>

        <p>Consider one last thing...</p>

        <div class="card ">
            <form>
                <div>
                    <label id=''>Whats the single most important change you can make right now, and in your habitual schedule to further approximate your evolution?</label>
                    <textarea rows='10'></textarea>
                </div>
            </form>
        </div>

   </div>

</div>


<script defer>

    var autoExpand = function (field) {

    // Reset field height
    field.style.height = 'inherit';

    // Get the computed styles for the element
    var computed = window.getComputedStyle(field);

    // Calculate the height
    var height = parseInt(computed.getPropertyValue('border-top-width'), 10)
                + parseInt(computed.getPropertyValue('padding-top'), 10)
                + field.scrollHeight
                + parseInt(computed.getPropertyValue('padding-bottom'), 10)
                + parseInt(computed.getPropertyValue('border-bottom-width'), 10);

    field.style.height = height + 'px';

    };

    document.addEventListener("DOMContentLoaded", function() {
        document.addEventListener('input', function (event) {
            if (event.target.tagName.toLowerCase() !== 'textarea') return;
            autoExpand(event.target);
        }, false);


    });

</script>