{% if paginator.exercises %}
  <section class="section  typeset">
    <ul class="list  list--posts">
      {% for page in paginator.exercises %}
        <li class="item  item--post">
          <article class="article  article--post">

            <h2><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h2>
            {% include post-meta.html %}
            {{ exercise.description | markdownify }}

          </article>
        </li>
      {% endfor %}
    </ul>
    {% include post-pagination.html %}
  </section>
{% else %}
  <section class="section  typeset">
    <h2 class="text-center mb-5">Exercises</h2>
    <ul class="list  list--posts">

      {% for title in page.items %}

        {% for exercise in site.exercises %}
          {% if title == exercise.title %}
            <li class="item  item--post">
              <article class="article  exercise--post">
                <!-- <img src="{{exercise.feature_image}}" /> -->
                <h2><a href="{{ site.baseurl }}{{ exercise.url }}">{{ exercise.title }}</a></h2>
                {% include post-meta.html %}
                {{ exercise.description | markdownify }}
              </article>
            </li>
          {% endif %}
        {% endfor %}

      {% endfor %}

    </ul>
  </section>
{% endif %}
