

{% if paginator.exercises %}
  <section class="section  typeset">
    <ul class="list  list--posts">
      {% for page in paginator.exercises %}
        <li class="item  item--post">
          <article class="article  article--post">

            <h3><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h3>
            {% include post-meta.html %}
            {{ exercise.description | markdownify }}

          </article>
        </li>
      {% endfor %}
    </ul>
    {% include post-pagination.html %}
  </section>
{% else %}
  <section class="section  typeset">
    <ul class="list  list--posts">
      {% for exercise in site.exercises %}
          <li class="item  item--post">
            <article class="article  article--post">
              <h3><a href="{{ site.baseurl }}{{ exercise.url }}">{{ exercise.title }}</a></h3>
              {% include post-meta.html %}
              {{ exercise.description | markdownify }}
            </article>
          </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
