<aside class="aside  typeset  aside--{{ include.align | default: 'right' }}">

  {% if page.layout == "post" %}
    <section class="section  section--related-posts">
      {% include post-related.html %}
    </section>

  {% elsif page.layout == "page" or page.layout == "home" or page.layout == "blog" %}
    <section class="section  section--description">
      <!-- <div class=''>
        <h3>About this site</h3>
        <p>{{ site.description }}</p>
        {% include nav-social.html %}
      </div> -->
      <div class='card mt-4'>
        <h3>Save Your Work In The Cloud</h3>
        <p>Sign-up for a free membership and save all your exercises in the cloud. You'll also periodically get new exercises straight to your inbox.</p>
        <form id='newsletter-form' method="POST">
          <input type="text" id="firstName" placeholder="First Name..." />
          <input type="text" id="lastName" placeholder="Last Name..." />
          <input type="email" id="email-input" placeholder="Email..." />
          <button type='submit'>Sign Up</button>
          <div class='form-res'>

          </div>
        </form>
      </div>
      <!-- <div class='card'>
        <h3>Sign Up For Free</h3>
        <p>Create an account for free and save all your course-work and exercises online. You'll also get access to member exclusive content.</p>
      </!--> 
    </section>

  {% elsif page.layout == "categories" %}
    <section class="section  section--category-index">
      <h3>Index</h3>
      {% include nav-categories.html %}
    </section>

  {% endif %}

</aside>
